.metro-root,
.metro-root div,
.metro-root button,
.metro-root input,
.metro-root textarea
.metro-root select,
.metro-root img {
  box-sizing: border-box;
}

.metro-root,
.metro-root button,
.metro-root input,
.metro-root textarea,
.metro-root select {
  font-family: "Noto Sans", "Segoe UI", sans;
  font-size: inherit;
}

.metro-root code,
.metro-root pre {
  font-family: "Source Code Pro", monospace;
  font-size: 0.87rem;
}

.metro-root h1,
.metro-root h2,
.metro-root h3,
.metro-root h4 {
  font-weight: lighter;
}
.metro-root h1 {
  font-size: 4.5rem;
}
.metro-root h2 {
  font-size: 3.2rem;
}
.metro-root h3 {
  font-size: 2.1rem;
}
.metro-root h4 {
  font-size: 1.5rem;
}